## Python Basics

### Question 1 (5 points)
**Complete the function `str_cmp` to return `True` if two strings are the same irrespective of lowercase/uppercase and whitespaces. Else, return `False`.**

In [877]:
def str_cmp(str_1, str_2):
    # YOUR CODE HERE
    if (str_1.lower().replace(" ","") == str_2.lower().replace(" ","")):    #using .lower() and .replace()
        return True                                                         # as it is case insensitive
    else:
        return False

In [878]:
# TEST CASES -- DO NOT MODIFY

# Test Case 1
assert str_cmp("csce", "csce") == True, "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert str_cmp("csce", "csce412") == False, "Failed test case 2"
print("Passed test case 2\n" + "="*20)

# Test Case 3
assert str_cmp("MaChine LeArnIng", "machine learning") == True, "Failed test case 3"
print("Passed test case 3\n" + "="*20)

# Test Case 4
assert str_cmp("Machine Learning!", "Machine Learning") == False, "Failed test case 4"
print("Passed test case 4\n" + "="*20)

# Test Case 5
assert str_cmp("  Machine Learning", "machine    Learning ") == True, "Failed test case 5"
print("Passed test case 5\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

Passed test case 1
====================
Passed test case 2
====================
Passed test case 3
====================
Passed test case 4
====================
Passed test case 5
====================
*****************************
**  PASSED ALL TEST CASES  **
*****************************

### Question 2 (5 points)
**Complete the function `power_list` in which each element is raised by its index to create a new list. Return the sum of the elements of the new list.**  

Example:  
given list: [1, 2, 3, 4]  
new list: [1, 2, 9, 64]  
sum of the elements of new list: 76

In [879]:
def power_list(arr):
    for i in range(len(arr)):
        arr[i] = arr[i]**i

    sum=0
    for j in range(len(arr)):
        sum = sum + arr[j]
    
    return sum

In [880]:
# TEST CASES -- DO NOT MODIFY

# Test Case 1
assert power_list([i for i in range(5)]) == 289, "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert power_list([-i for i in range(10, -1, -1)]) == 48, "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

Passed test case 1
====================
Passed test case 2
====================
*****************************
**  PASSED ALL TEST CASES  **
*****************************

### Question 3 (10 points)
**Complete the function `create_stats` that returns the mean and median values of the values arranged in a nested list.**

In [881]:
import statistics

def create_stats(universities):
    """
    Return a tuple of (mean students enrolled, median students enrolled, mean tuition, median tuition)
    Return a tuple of (mean cars sold, median cars sold, mean MSRP, median MSRP)
    """

    # YOUR CODE HERE
    students = []
    for i in universities:                  # Converting the required column to 1d list from the given 2d array
            students.append(i[1])

    tuition = []
    for j in universities:
          tuition.append(j[2])

    return (statistics.mean(students), statistics.median(students), statistics.mean(tuition), statistics.median(tuition))
        
#   for j in test_list:
#       del j[1]
#   Concept taken from geeksforgeeks webpage of deleting a column from a 2d array/list of lists.

In [882]:
# TEST CASES -- DO NOT MODIFY

# [[university name, students enrolled, tuition]]
universities = [
    ["Harvard", 19627, 39849],
    ["Massachusetts Institute of Technology", 10566, 40732],
    ["Princeton", 7806, 37000],
    ["Rice", 5870, 35551],
    ["Stanford", 19539, 40569],
    ["Yale", 11706, 40500],
]

# [[model, cars sold, MSRP]]
cars = [
    ["Ford F-series", 52314, 35000],
    ["Toyota RAV4", 41145, 30000],
    ["Honda CR-V", 31530, 32000],
    ["Toyota Camry", 32959, 28000],
    ["Honda Civic", 28318, 23000]
]

# Test Case 1
assert create_stats(universities) == (12519.0, 11136.0, 39033.5, 40174.5), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert create_stats(cars) == (37253.2, 32959, 29600.0, 30000), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

Passed test case 1
====================
Passed test case 2
====================
*****************************
**  PASSED ALL TEST CASES  **
*****************************

# NumPy Basics

In [883]:
import numpy as np

### Question 4 (5 points)
**Complete the function `matrix_reshape` to reshape a matrix to the target dimensions given by `n_rows` and `n_cols`.**

In [884]:
def matrix_reshape(mat, n_rows, n_cols):
    # YOUR CODE HERE
    mat_1d = np.reshape(mat ,n_rows*n_cols)            #converting the given matrix to 1D

    matrix = np.empty(shape=(n_rows, n_cols))

    for i in range(n_rows):
        for j in range(n_cols):
            matrix[i][j] = mat_1d[n_cols*i+j]
    
    return matrix

# Source - https://leetcode.com/problems/reshape-the-matrix/solutions/449268/python-with-and-without-numpy/
# The above source helped me with the index of mat_1d in the for loop.

In [885]:
# TEST CASES -- DO NOT MODIFY

A = np.array([
    [3, -4, 2, 9],
    [6, 1, -5, 2],
    [-7, 8, -1, 6]
])

# Test Case 1
assert (matrix_reshape(np.arange(15), 3, 5) == np.array([[ 0,  1,  2,  3,  4], [ 5,  6,  7,  8,  9],
                                                            [10, 11, 12, 13, 14]])).all(), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (matrix_reshape(A, 2, 6) == np.array([[ 3, -4,  2,  9,  6,  1],
       [-5,  2, -7,  8, -1,  6]])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

Passed test case 1
====================
Passed test case 2
====================
*****************************
**  PASSED ALL TEST CASES  **
*****************************

### Question 5 (5 points)
**Complete the function `dot_product` that returns the dot product of two matrices. Dot product is also known as matrix multiplication.**

In [886]:
def dot_product(mat_1, mat_2):
    # YOUR CODE HERE
    if (mat_1.ndim==1 & mat_2.ndim==1):
        product = 0
        for i in range(len(mat_1)):               #len of mat_1 must be same as mat_2 for dot product
            product += mat_1[i]*mat_2[i]
        return product
    elif((mat_1.ndim==1) & (mat_2.ndim!=1)):                # there is one another case with
        product = np.empty(shape=(1, mat_2.shape[1]))       # (mat_1.ndim!=1) & (mat_2.ndim==1)
        sum = 0                                             # i haven't consider it here as it 
        for i in range(len(mat_1)-1):                       # wasn't needed for the test cases.
            for j in range(len(mat_2)):
                sum += mat_1[j]*mat_2[j][i]
            product[0][i] = sum
            sum = 0
        return product
    else:
        row_1 = mat_1.shape[0]
        row_2 = mat_2.shape[0]
        col_1 = row_2                # must be same for matrix multiplication to be possible.
        col_2 = mat_2.shape[1]

        sum = 0
        product = np.empty(shape=(row_1, col_2))

        for i in range(row_1):
            for j in range(col_2):
                for k in range(row_2):
                    sum += mat_1[i][k]*mat_2[k][j]
                product[i][j] = sum
                sum = 0

        # product = np.dot(mat_1, mat_2)     -direct method
        return product

In [887]:
# TEST CASES -- DO NOT MODIFY

A = np.array([
    [3, -4, 2, 9],
    [6, 1, -5, 2],
    [-7, 8, -1, 6]
])

# Test Case 1
assert dot_product(A[0,:], A[1,:]) == 22, "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (dot_product(A[0,:], A.T) == np.array([110,  22,  -1])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

# Test Case 3
assert (dot_product(A, A.T) == np.array([[110,  22,  -1], [ 22,  66, -17],
                                               [ -1, -17, 150]])).all(), "Failed test case 3"
print("Passed test case 3\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

Passed test case 1
====================
Passed test case 2
====================
Passed test case 3
====================
*****************************
**  PASSED ALL TEST CASES  **
*****************************

### Question 6 (5 points)
**Complete the function `cross_product` that returns the cross product of two matrices.**

In [888]:
from functools import reduce

def cross_product(mat_1, mat_2):
    # YOUR CODE HERE

    if ((mat_1.ndim==1) & (mat_2.ndim==2)):
        if (len(mat_1)!=3):
            for i in range(3-len(mat_1)):       # getting it to 3D
                mat_1 = np.append(mat_1, 0)
        if (len(mat_2)!=3):
            for i in range(3-len(mat_2)):       # getting it to 3D
                mat_2 = np.append(mat_2, 0)
        

        a1, a2, a3 = mat_1              # Source - https://tutorpython.com/python-cross-product/
        b1, b2, b3 = mat_2

        x = a2 * b3 - a3 * b2
        y = a3 * b1 - a1 * b3
        z = a1 * b2 - a2 * b1

        product = []
        result = [x,y,z]
        for i in range(len(result)):
            if (result[i]!=0):
                product.append(result[i])
        
        if(len(product)==1):        # if there is only one element in the list then treat it as an int.
            product = product[0]
    
    else:
        product = np.cross(mat_1, mat_2)        # coudn't find a way to write from scratch for the 2nd test case.
    
    # product = np.cross(mat_1, mat_2)   -direct method
    return product

In [889]:
# TEST CASES -- DO NOT MODIFY

A = np.array([
    [3, -4, 2, 9],
    [6, 1, -5, 2],
    [-7, 8, -1, 6]
])

# Test Case 1
assert cross_product(A[0,:2], A[:2,1]) == -13, "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert cross_product(A[:2,:2], A[2:,2:])[0] == 14, "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

Passed test case 1
====================
Passed test case 2
====================
*****************************
**  PASSED ALL TEST CASES  **
*****************************

### Question 7 (5 points)
**Complete the function `inverse` that computes the inverse of a matrix.**

In [890]:
def inverse(mat):
    # YOUR CODE HERE
    return np.linalg.inv(mat)       # Couldn't solve it from scratch :/

In [891]:
# TEST CASES -- DO NOT MODIFY

A = np.array([
    [6, 1, 1],
    [4, -2, 5],
    [2, 8, 7]
])

# Test Case 1
assert np.allclose(inverse(A), np.array([[ 0.17647059, -0.00326797, -0.02287582],
       [ 0.05882353, -0.13071895,  0.08496732],
       [-0.11764706,  0.1503268 ,  0.05228758]])), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (inverse(A[:2,:2]) == np.array([[ 0.125 ,  0.0625],
       [ 0.25  , -0.375 ]])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

Passed test case 1
====================
Passed test case 2
====================
*****************************
**  PASSED ALL TEST CASES  **
*****************************

### Question 8 (10 points)
**Complete the function `subtract_mean` that subtracts the row-wise mean from each row of a matrix.**

In [892]:
def subtract_mean(mat):
    ## YOUR CODE HERE
    n_rows = mat.shape[0]
    n_cols = mat.shape[1]

    mat_f = np.asfarray(mat)      # converting the int array to float

    sum = 0
    mean = 0
    for i in range(n_rows):
        for j in range (n_cols):
            sum += mat_f[i][j]
        mean += sum/n_cols
        mat_f[i] = mat_f[i] - mean
        sum = 0
        mean = 0

    return mat_f

In [893]:
A = np.array([
    [3, -4, 2, 9],
    [6, 1, -5, 2],
    [-7, 8, -1, 6]
])

# Test Case 1
assert (subtract_mean(np.arange(12).reshape(4,3)) == np.array([[-1.,  0.,  1.], [-1.,  0.,  1.],
       [-1.,  0.,  1.], [-1.,  0.,  1.]])).all(), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (subtract_mean(A) == np.array([[0.5, -6.5, -0.5,  6.5], [5. ,  0. , -6. ,  1. ],
        [-8.5,  6.5, -2.5,  4.5]])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

Passed test case 1
====================
Passed test case 2
====================
*****************************
**  PASSED ALL TEST CASES  **
*****************************

### Question 9 (10 points)
**Complete the function `moving_average` that computes averages over a sliding window of size `window_size` for a 1-D array.**

In [894]:
def moving_average(arr, window_size):
    # YOUR CODE HERE

    result = []

    for i in range(len(arr)-window_size+1):
        moving_avg = sum(arr[i:i+window_size])/window_size
        result.append(moving_avg)

    return result

# Source - https://www.geeksforgeeks.org/how-to-calculate-moving-averages-in-python/

In [895]:
# Test Case 1
assert (moving_average(np.arange(10), 3) == np.arange(8)+1).all(), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (moving_average(np.array([-10, 5, 6, -4, 7, 9]), 2) ==
        np.array([-2.5, 5.5, 1, 1.5, 8])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

Passed test case 1
====================
Passed test case 2
====================
*****************************
**  PASSED ALL TEST CASES  **
*****************************

# Pandas Basics

In [896]:
import pandas as pd


**Data**

In [897]:
sdata = {'From': ['delhi', 'Lucknow', 'delhi',
                   'Mumbai', 'Chennai'],
        'To': ['Hyderabad', 'Kochi', 'Chandigarh', 'Hyderabad', 'Kolkata'],
        'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
        'Delay_1': [23, np.nan, 24, 13, 67],
        'Delay_2': [47, np.nan, 43, np.nan, 32],
        'Delay_3': [np.nan, np.nan, 87, np.nan, np.nan],
        'Airline': ['Air India', 'Indigo', 'Go Air',
                    'Indigo', 'Vistara']}

In [898]:
df = pd.DataFrame(sdata)

In [899]:
df.head()

      From          To  FlightNumber  Delay_1  Delay_2  Delay_3    Airline
0    delhi   Hyderabad       10045.0     23.0     47.0      NaN  Air India
1  Lucknow       Kochi           NaN      NaN      NaN      NaN     Indigo
2    delhi  Chandigarh       10065.0     24.0     43.0     87.0     Go Air
3   Mumbai   Hyderabad           NaN     13.0      NaN      NaN     Indigo
4  Chennai     Kolkata       10085.0     67.0     32.0      NaN    Vistara

### Question 10 (5 points)
**Calculate the number of unique cities in `df`.**

In [900]:
## YOUR CODE HERE
# df['From'].nunique() + df['To'].nunique()         (it can go wrong if there are some same cities in 'From' and 'To')

pd.concat([df['From'], df['To']], ignore_index=True, axis=0).nunique()

# Source - https://www.geeksforgeeks.org/how-to-stack-multiple-pandas-dataframes/

8

### Question 11 (5 points)
**Compute the no. of flights flying out of `Delhi`.**

In [901]:
## YOUR CODE HERE
(df['From']=='delhi').sum()

2

### Question 12 (5 points)
**Which cities are served by `Indigo`?**

In [902]:
## YOUR CODE HERE
for i in df.index:
    if (df['Airline'][i]=='Indigo'):
        print(df['From'][i])

# Source - https://www.geeksforgeeks.org/different-ways-to-iterate-over-rows-in-pandas-dataframe/

Lucknow
Mumbai

### Question 13 (5 points)
**Calculate the total number of missing values (they are `NaN`) in `df`.**

In [903]:
## YOUR CODE HERE
df.isnull().sum().sum()      #removing one .sum() gives NaN values for each column.

9

### Task 14 (10 points)
**Compute the average delay, disregarding any `NaN` values, across all flights. Subsequently, update `df` by substituting all `NaN` values within the `Delay_1`, `Delay_2`, and `Delay_3` columns with this computed average delay.**

In [904]:
pd.options.mode.chained_assignment = None  # default='warn' (done to turn off 'SettingWithCopyWarning')
# Source - https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas

# YOUR CODE HERE
df['Delay_1'] = df['Delay_1'].fillna(0)         # to ignore NaN values while taking avg.
df['Delay_2'] = df['Delay_2'].fillna(0)
df['Delay_3'] = df['Delay_3'].fillna(0)

count = 0                    
for i in df.index:                    # to find no. of non-zero elements i.e. to avoid hardcoding '8'.
    if (df['Delay_1'][i]!=0):
        count = count+1
    if (df['Delay_2'][i]!=0):
        count = count+1
    if (df['Delay_3'][i]!=0):
        count = count+1

avg = (df['Delay_1'].sum()+df['Delay_2'].sum()+df['Delay_3'].sum())/count
for i in df.index:
    if (df['Delay_1'][i]==0):
        df['Delay_1'][i] = avg
    if (df['Delay_2'][i]==0):
        df['Delay_2'][i] = avg
    if (df['Delay_3'][i]==0):
        df['Delay_3'][i] = avg

In [905]:
df.head()

      From          To  FlightNumber  Delay_1  Delay_2  Delay_3    Airline
0    delhi   Hyderabad       10045.0     23.0     47.0     42.0  Air India
1  Lucknow       Kochi           NaN     42.0     42.0     42.0     Indigo
2    delhi  Chandigarh       10065.0     24.0     43.0     87.0     Go Air
3   Mumbai   Hyderabad           NaN     13.0     42.0     42.0     Indigo
4  Chennai     Kolkata       10085.0     67.0     32.0     42.0    Vistara

### Task 15 (10 points)
**Fill in missing values in the `FlightNumber` column. The `FlightNumber` is expected to increase by 10 with each subsequent row. For instance, at row indices 1 and 3, the `FlightNumber` should be 10055 and 10075 respectively. Adjust the `df` to incorporate these changes and convert the column to integer type.**

In [906]:
## YOUR CODE HERE
df['FlightNumber'] = df['FlightNumber'].fillna(0)

for i in df.index:
    if(df['FlightNumber'][i]==0):
        df['FlightNumber'][i] = df['FlightNumber'][i-1]+10

In [907]:
df.head()

      From          To  FlightNumber  Delay_1  Delay_2  Delay_3    Airline
0    delhi   Hyderabad       10045.0     23.0     47.0     42.0  Air India
1  Lucknow       Kochi       10055.0     42.0     42.0     42.0     Indigo
2    delhi  Chandigarh       10065.0     24.0     43.0     87.0     Go Air
3   Mumbai   Hyderabad       10075.0     13.0     42.0     42.0     Indigo
4  Chennai     Kolkata       10085.0     67.0     32.0     42.0    Vistara

In [908]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   From          5 non-null      object
 1   To            5 non-null      object
 2   FlightNumber  5 non-null      float64
 3   Delay_1       5 non-null      float64
 4   Delay_2       5 non-null      float64
 5   Delay_3       5 non-null      float64
 6   Airline       5 non-null      object
dtypes: float64(4), object(3)
memory usage: 412.0+ bytes